<li>
  <span class="posttitle">
    <%= link_to post.title, post %>
  </span>
  <span class="content"><%= truncate(strip_tags(simple_format post.content), length: 50) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> .
  </span>
  <% if admin?(current_user) %>
    <%= link_to "edit", edit_post_path(post),
                                     data: { confirm: "You sure?" },
                                     title: post.content %>
    <%= link_to "delete", post, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: post.content %>
  <% end %>                                  
</li>
